@font-face {
  font-family: "iconfont"; /* Project id 3422046 */
  src: url('iconfont.woff2?t=1653296679206') format('woff2'),
       url('iconfont.woff?t=1653296679206') format('woff'),
       url('iconfont.ttf?t=1653296679206') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-34_kaisuo:before {
  content: "\e634";
}

.icon-tianjia1:before {
  content: "\e61f";
}

.icon-beizhu:before {
  content: "\e679";
}

.icon-icon-duankailianjie:before {
  content: "\e835";
}

.icon-bg-unlock:before {
  content: "\e63f";
}

.icon-suoding:before {
  content: "\e617";
}

.icon-kuaizhao:before {
  content: "\e604";
}

.icon-fenxiang01:before {
  content: "\e6d1";
}

.icon-share:before {
  content: "\e664";
}

.icon-tianjia:before {
  content: "\e6f4";
}

.icon-lianjie:before {
  content: "\e609";
}

